<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.investor.dao.IInvestorBankDao">
	
	<!-- 出资方银行关系表 和 银行表的多对一的关联开始 -->
	<resultMap type="com.bjsxt.investor.pojo.AInvestorBank" id="myResultBank">
	
		<id column="id" property="id"/>
		
		<!-- 查询关联的银行 -->
		<collection property="bank" javaType="com.bjsxt.investor.pojo.ABank" 
			column="bankId" select="findOneBank">
		</collection>
		
		<!-- 查询关联的出资方 -->
		<collection property="investor" javaType="com.bjsxt.investor.pojo.AInvestor" 
			column="investorId" select="findOneInvestor">
		</collection>
	</resultMap>
	
	<!-- 查询关联的银行 -->
	<select id="findOneBank" resultType="com.bjsxt.investor.pojo.ABank">
		select * from a_bank where id = #{bankId}
	</select>
	<!-- 出资方银行关系表和银行表的多对一的关联结束-->
	<select id="findOneInvestor" resultType="com.bjsxt.investor.pojo.AInvestor">
		select * from a_investor where id = #{investorId}
	</select>
	
	<!-- 查询单个记录 -->
	<select id="findOne" parameterType="map" resultMap="myResultBank">
		select * from a_investor_bank
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</select>

	<!-- 跟新一条数据 -->
	<update id="update" parameterType="com.bjsxt.investor.pojo.AInvestorBank">
		UPDATE a_investor_bank 
		SET 
		(investorId=#{investorId},bankId=#{bankId},status=#{status},createTime=#{createTime},updateTime=#{updateTime},pubTime=#{pubTime}) 
		<where>
			<if test="id != null and id !='' ">
				id = #{id}
			</if>
		</where>
	</update>
	<!-- 添加一条记录 -->
	<insert id="insert" parameterType="com.bjsxt.investor.pojo.AInvestorBank" useGeneratedKeys="true"
		keyProperty="id">
		insert into a_investor_bank 
		(investorId, bankId, status, createTime, updateTime, pubTime) 
		values 
		(#{investorId},#{bankId},#{status},#{createTime},#{updateTime},#{pubTime}) 
	</insert>
	<!-- 删除一条数据 -->
	<delete id="delete" parameterType="map">
		delete from a_investor_bank
		<where>
			<if test="id != null and id !=''">
				and id = #{id}
			</if>
			<if test="status !=null and status !='' ">
				and status = #{status}
			</if>
		</where>
	</delete>
	<!-- 查询多条记录(涉及到分页) 如果要分页： pageOperation = 'true' 如果按更新倒叙(默认是顺序) updateTimeDesc 
		= "true" -->
	<select id="findList" parameterType="map" resultMap="myResultBank">
		<choose>
			<when test="pageOperation == 'true'">
				select count(*) as id
			</when>
			<otherwise>
				select *
			</otherwise>
		</choose>
		from a_investor_bank ad
		<!-- 拼接条件 -->
		<where>
			<if test="status != null and status !=''">
				and status = #{status}
			</if>
			<if test="investorId != null">
				and investorId = #{investorId}
			</if>
			<if test="bankId != null">
				and bankId = #{bankId}
			</if>
			<if test="startTime != null and endTime != null">
			<![CDATA[
				and createTime >= #{startTime} and createTime < #{endTime}
			]]>
			</if>
		</where>
		<!-- 如果分页 -->
		<if test="pageOperation != 'true' ">
			<choose>
				<when test="pubTimeDesc != null">
					order by ad.pubTime desc
				</when>
				<otherwise>
					order by ad.pubTime asc
				</otherwise>
			</choose>

			<if
				test="(currRecord != null and currRecord !='' and pageSize !=null and pageSize != '') or currRecord == 0">
				limit #{currRecord},#{pageSize}
			</if>
		</if>
	</select>
</mapper>