<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.user.dao.IAAdminsDao">
	
	<!-- 自定义的结果集 -->
	<resultMap type="admins" id="myResultMap">
		<id column="id" property="id"/>
		<association property="role" javaType="role" column="roleId" 
			select="findOneRole">
		</association>
	</resultMap>
	
	<!-- 查询一个角色 -->	
	<select id="findOneRole" resultType="role">
		select * from a_role where id = #{roleId} 
	</select>
	
	<!-- 查询单个记录 -->
	<select id="findOne" parameterType="map" resultMap="myResultMap">
		select * from a_admins
		<where>
			<if test="id != null and id != ''">
				id = #{id}
			</if>
			<if test="email != null and email !='' ">
				email = #{email}
			</if>
			<if test="password != null and password !='' ">
				password = #{password}
			</if>
		</where>
	</select>
	<!-- 跟新一条数据 -->
	<update id="update" parameterType="admins">
		update a_admins
		<set>
			<if test="password != null and password !=''">
				password = #{password},
			</if>
			<if test="roleId != null and roleId !=''">
				roleId = #{roleId}
			</if>
			<if test="email != null and email !=''">
				email = #{email},
			</if>
			<if test="status != null and status !=''">
				status = #{status},
			</if>
			<if test="trueName != null and trueName !=''">
				trueName = #{trueName},
			</if>
			<if test="phone != null and phone !=''">
				phone = #{phone},
			</if>
			<if test="qq != null and qq !=''">
				qq = #{qq},
			</if>
			<if test="updateTime != null ">
				updateTime = #{updateTime},
			</if>
			<if test="lastLoginTime != null ">
				lastLoginTime = #{lastLoginTime},
			</if>
		</set>
		<where>
			<if test="id !=null and id !='' ">
				id = #{id}
			</if>
		</where>
	</update>
	<!-- 添加一条记录 -->
	<insert id="insert" parameterType="admins"  useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO `a_admins` (`email`, `password`, `trueName`, `phone`, `qq`,
		`status`, `createTime`, `updateTime`, `lastLoginTime`)
		VALUES
		(#{email}, #{password},#{trueName},#{phone}, #{qq},#{status},
		#{createTime},#{updateTime},#{lastLoginTime})
	</insert>
	<!-- 删除一条数据 -->
	<delete id="delete" parameterType="map">
		delete from a_admins
		<where>
			<if test="id != null and id !=''">
				id = #{id}
			</if>
			<if test="roleId != null and roleId !=''">
				roleId = #{roleId}
			</if>
			<if test="status !=null and status !='' ">
				status = #{status}
			</if>
		</where>
	</delete>
	<!-- 查询多条记录(涉及到分页) 如果要分页： pageOperation = 'true' 如果按更新倒叙(默认是顺序) updateTimeDesc 
		= "true" -->
	<select id="findList" parameterType="map"  resultMap="myResultMap">
		<choose>
			<when test="pageOperation == 'true'">
				select count(*) as id
			</when>
			<otherwise>
				select *
			</otherwise>
		</choose>
		from a_admins ad
		<!-- 拼接条件 -->
		<where>
			<if test="status != null and status !=''">
				status = #{status}
			</if>
			<if test="roleId != null and roleId !=''">
				roleId = #{roleId}
			</if>
			<if test="keyword != null and keyword !=''">
				((email like #{keyword}) or (phone like #{keyword}) or (qq like
				#{keyword}))
			</if>
			<if test="startTime != null and endTime != null">
			<![CDATA[
				createTime >= #{startTime} and createTime < #{endTime}
			]]>
			</if>
		</where>
		<!-- 如果分页 -->
		<if test="pageOperation != 'true' ">
			<choose>
				<when test="updateTimeDesc != null">
					order by ad.updateTime desc
				</when>
				<otherwise>
					order by ad.updateTime asc
				</otherwise>
			</choose>

			<if
				test="(currRecord != null and currRecord !='' and pageSize !=null and pageSize != '') or currRecord == 0">
				limit #{currRecord},#{pageSize}
			</if>
		</if>
	</select>
</mapper>