<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.user.dao.IARoleDao">

	<!-- 查询单个记录 -->
	<select id="findOne" parameterType="map" resultType="role">
		select * from a_role
		<where>
			<if test="id != null and id != ''">
				id = #{id}
			</if>
		</where>
	</select>
	<!-- 跟新一条数据 -->
	<update id="update" parameterType="role">
		update a_role
		<set>
			<if test="name != null and name !=''">
				name = #{name},
			</if>
			<if test="status != null and status !=''">
				status = #{status},
			</if>
			<if test="updateTime != null ">
				updateTime = #{updateTime},
			</if>
			<if test="lastLoginTime != null ">
				lastLoginTime = #{lastLoginTime},
			</if>
		</set>
		<where>
			<if test="id !=null and id !='' ">
				id = #{id}
			</if>
		</where>
	</update>
	<!-- 添加一条记录 -->
	<insert id="insert" parameterType="role" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO a_role(name,context,status, createTime, updateTime, lastLoginTime)
		VALUES
		(#{name}, #{context},#{status},#{createTime},#{updateTime},#{lastLoginTime})
	</insert>
	<!-- 删除一条数据 -->
	<delete id="delete" parameterType="map">
		delete from a_role
		<where>
			<if test="id != null and id !=''">
				id = #{id}
			</if>
			<if test="status !=null and status !='' ">
				status = #{status}
			</if>
		</where>
	</delete>
	<!-- 查询多条记录(涉及到分页) 如果要分页： pageOperation = 'true' 如果按更新倒叙(默认是顺序) updateTimeDesc 
		= "true" -->
	<select id="findList" parameterType="map" resultType="role">
		<choose>
			<when test="pageOperation == 'true'">
				select count(*) as id
			</when>
			<otherwise>
				select *
			</otherwise>
		</choose>
		from a_role ar
		<!-- 拼接条件 -->
		<where>
			<if test="status != null and status !=''">
				status = #{status}
			</if>
			<if test="keyword != null and keyword !=''">
				((name like #{keyword}) or (context like #{keyword}))
			</if>
			<if test="startTime != null and endTime != null">
			<![CDATA[
				createTime >= #{startTime} and createTime < #{endTime}
			]]>
			</if>
		</where>
		<!-- 如果分页 -->
		<if test="pageOperation != 'true' ">
			<choose>
				<when test="updateTimeDesc != null">
					order by ar.updateTime desc
				</when>
				<otherwise>
					order by ar.updateTime asc
				</otherwise>
			</choose>

			<if
				test="(currRecord != null and currRecord !='' and pageSize !=null and pageSize != '') or (currRecord == 0) ">
				limit #{currRecord},#{pageSize}
			</if>
		</if>
	</select>
</mapper>